<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permisos para las versiones android 13 o mas -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <!-- Permisos para las versiones android 12 o menos -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Recetario">
        <activity
            android:name=".Actividades.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Actividades.Publicacion"
            android:exported="false" />
        <activity
            android:name=".Actividades.Perfil"
            android:exported="false" />
        <activity
            android:name=".Actividades.EditarPerfil"
            android:exported="false" />
        <activity
            android:name=".Actividades.CambiarContraseña"
            android:exported="false" />
    </application>

</manifest>